.dds_container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 10%;
  text-align: center;
  cursor: pointer;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 2px 8px,
    rgba(17, 17, 26, 0.05) 0px 4px 16px;

  &_default {
    background-color: #fff;
    @include font_default;

    .dds_list {
      background-color: #fff;

      box-shadow:
        rgba(17, 17, 26, 0.1) 0px 2px 8px,
        rgba(17, 17, 26, 0.05) 0px 4px 16px;

      .dds_item {
        &:hover {
          color: green;
        }
      }
    }
  }

  .dds_list {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 1rem;
    border-radius: 1rem;

    .dds_item {
      padding: 1rem;
    }
  }
}
