.navigation_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;

  @include xs {
    height: 5%;
  }
}
