.switch_wrapper {
  position: relative;
  display: flex;
  align-items: center;

  &_default {
    flex-direction: row;
  }

  &_cool {
    flex-direction: column;
  }

  .switch_text {
    padding: 1rem;

    &_default {
      @include font_default;
      color: #555;

      &.active {
        color: green;
      }
    }

    &_cool {
      @include font_cool;

      &.active {
        color: red;
      }
    }
  }
}

.switch {
  width: 70px;
  height: 34px;
  border-radius: 30px;
  background: rgb(212, 212, 212);
  cursor: pointer;
  position: relative;
}

.switch_off {
  background: rgb(212, 212, 212);
  transition: background 0.4s;
}

.switch_on {
  background: rgb(0, 202, 51);
  transition: background 0.4s;
}

.inner_switch {
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.inner_switch_left {
  top: 2px;
  left: 2px;
  transition: left 0.4s;
}

.inner_switch_right {
  top: 2px;
  left: 38px;
  transition: left 0.4s;
}
